{% extends 'base.html' %}
{% load static %}

{% block body %}

<div class="container">
    <form action="{% url 'logout' %}" request="POST">
        {% csrf_token %}
    <button type="submit" class="btn btn-primary">Logout</button>
    </form>
    <div class="container text-center">
        <form action="{% url 'index' %}" method="POST">
            {% csrf_token %}
        <button id="start1" type="submit" value="start" name="start" class="btn btn-success">Start action 1</button>
        <button id="stop1" type="submit" value="stop" name="stop" class="btn btn-danger">Stop action 1</button>
        </form>
        <div id="status-act1" style="background-color: {% if status == 'Running' %}green{% else %}red{% endif %}; width: 7px; height: 7px"></div>
<p>Status: {{ status_func }}</p>

    </div>


{% for function in data_functions.functions %}
    {{ function.funzione }}
    <button id="{{ function.id }}" onclick="changeStatus( {{ function.id }}, '{{ function.status }}')" type="submit" value="start" name="start" class="btn btn-success"> {{ function.status }}</button>
    <br>
    <br>
{% endfor %}





</div>

    <script>
    function changeStatus(id, status) {
        $.ajax({
            url: "{% url 'change_status' %}",
            type: "POST",
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'id': id,
                'status': status
            },
            success: function (data) {
                window.location.reload();
            }
        });
    }
    </script>




{% endblock %}