{% extends 'base.html' %}
{% load static %}

{% block body %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <div class="container">
        <form action="{% url 'logout' %}" method="POST">{# Fixed: changed "request" to "method" to correctly specify the HTTP method #}
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Logout</button>
        </form>
        <div class="container text-center">
            <form action="{% url 'index' %}" method="POST">
                {% csrf_token %}
                <button id="start1" type="submit" value="start" name="start" class="btn btn-success">Start action 1</button>
                <button id="stop1" type="submit" value="stop" name="stop" class="btn btn-danger" onclick="window.location.reload()">Stop action 1</button>
            </form>
            <div id="status-act1" style="background-color: {% if status == 'Running' %}green{% else %}red{% endif %}; width: 7px; height: 7px"></div>
            <p>Status: {{ status_func }}</p>
        </div>

        {% for function in data_functions.functions %}
    {{ function.funzione }}
    <button id="{{ function.id }}" onclick="changeStatus( {{ function.id }}, '{{ function.status }}')" type="submit" value="start" name="start" class="btn btn-success"> {{ function.status }}</button>
    <div class="log-wrapper">
        <p id="log-{{ function.id }}" class="logs" style="display: none">{% if log %}
  <ul>
  {% for message in log %}
    <li>{{ message }}</li>
  {% endfor %}
  </ul>
{% endif %}
        </p>
        <button id="button-{{ function.id }}" class="btn btn-outline-secondary" onclick="showLog(this.id)">log</button>
    </div>
    <br>
    <br>
{% endfor %}

    </div>

    <script>
        function showLog(el) {
            // Fixed: removed the quotes around el to correctly reference the element passed as a parameter
            var log = $('#' + el).prev(".logs");{# Fixed: added the '#' symbol to properly reference the element by ID #}
            if (log.css("display") == "none") {
                log.css("display", "block");
            } else {
                log.css("display", "none");
            }
        }
    </script>

    <script>
        function changeStatus(id, status) {
            $.ajax({
                url: "{% url 'change_status' %}",
                type: "POST",
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'id': id,
                    'status': status
                },
                success: function (data) {
                    window.location.reload();
                }
            });
        }
    </script>

    <style>
    .log-wrapper {
    display: inline-flex;
    align-items: center;
    margin-left: 10px;
}

    </style>

{% endblock %}
